<div class="row">
    <div class="jumbotron vertical-center" ng-show="$ctrl.askCode">
        <div class="container">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <p>{{ $ctrl.message }}</p>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="$ctrl.codeWord" ng-keypress="$ctrl.checkIfEnterKeyWasPressed($event)" placeholder="please enter the magic sentence...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="$ctrl.checkCodeWord()">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-3">
            </div>
        </div>
    </div>
</div><!-- /.row -->

